body{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ================  SWIPE MOBILE START  ================= */
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* ================  NEWS START  ================= */

.news__cat{
  position: absolute;
  color: white;
  padding: 1px 10px;
  background-color: #00b0a6;
}
@media only screen and (max-width: 400px) {
  .news__cat{
    font-size: 12px;
  }
}
.news__img{
  max-width: 100%;
}